@use '../../styles/mixins' as *;

.input {
  width: 100%;
  border-radius: var(--radius-lg);
  padding: 10px 12px;
  font-size: 13.5px;
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  outline: none;
  @include transition(border-color);

  &::placeholder {
    color: var(--color-text-muted);
  }

  &:focus {
    border-color: var(--color-accent);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
